:host {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    width: 300px;
    background-color: #33cc33;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
}
section > header {
    color: #ffffff;
}

.header1 {
    color: #ffffff;
    font-size: 2em;
}
