<form [ngFormModel]="form" (ngSubmit)="onSubmit(form.value)">
    <ul>
        <li>
            <div class="column1 right">
                <span>Total:</span>
            </div>
            <input class="right" type="number" name="total" id="name" required
                ngControl="total"
                #name="ngForm">
        </li>
        <li>
            <div class="column1 right">
                <span>Price:</span>
            </div>
            <input class="right" type="number" name="price" id="name" required
                ngControl="price"
                #name="ngForm">
        </li>
        <li>
            <div class="column1 right">
                <span>Litres:</span>
            </div>
            <input class="right" type="number" name="litres" id="name" required
                ngControl="litres"
                #name="ngForm">
        </li>
        <li>
            <div class="column1 right">
                <span>Odometer:</span>
            </div>
            <input class="right" type="number" name="odometer" id="name" required
                ngControl="odometer"
                #name="ngForm">
        </li>
        <li>
            <div class="column1 right">
                <span>Date:</span>
            </div>
            <input class="right" type="date" name="odometer" id="name" required
                ngControl="odometer"
                #name="ngForm">
        </li>
    </ul>
</form>
