ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    margin: 2px 2px 2px 20px;
}

.column1 {
    width:100px;
    display: inline-block;
}

.right {
    text-align: right;
}
